In [1]:
import pandas

In [2]:
ex=pandas.read_excel('excel_prac1.xlsx')

In [3]:
ex

              Name  Roll NO      SChool
0   pranjal shrama       40  st.anselms
1  pranshu  sharma       41  st.anselms

In [9]:
s=ex.head(1)

In [6]:
ex['Name']

0     pranjal shrama
1    pranshu  sharma
Name: Name, dtype: object

In [8]:
ex.to_excel('write_excel.xlsx',index=False)

In [10]:
s.to_excel('write_excel.xlsx',index=False)